.footer-section {
    height: 250px;
    background-color: #191a1d;
}

.footer-section > .footer-links-wrapper {
    height: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #36383f; 
}

.footer-section > .footer-links-wrapper > .footer-link {
    font-size: 20px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    border: 2px solid #676767;
    border-right: 1px;
}

.footer-section > .footer-links-wrapper > .footer-link > .big-and-bold {
    font-size: 24px;
    font-weight: 900;
    padding-left: 5px;
}